<footer class="w-100 p-3 mt-5 text-center bg-primary text-white small">
    <p>&copy;2020 BastionOfShadows.com. The site design and code are open source. All rights to the web copy are reserved.</p>
</footer>